{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/auth/forgot-password.js"></script>
{{/section}}

{{#> auth-wrapper title="Forgot Password" subtitle="Enter your email address to receive an <strong>OTP code</strong> for
password reset."}}
<form method="post" action="/account/forgot-password" id="formForgotPassword">
  <!-- Email -->
  <div class="mb-4">
    <label for="email" class="form-label text-uppercase small">Email Address</label>
    <input type="email" class="form-control {{#if error_message}}is-invalid{{/if}}" id="email" name="email"
      placeholder="you@example.com" value="{{email}}" autofocus>
  </div>

  <!-- Submit -->
  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-dark text-uppercase">
      Get OTP
    </button>
  </div>

  <!-- Back to Sign In -->
  <div class="text-center">
    <a href="/account/signin" class="text-decoration-none text-muted small">
      <i class="bi bi-arrow-left"></i> Back to Sign in
    </a>
  </div>
</form>
{{/auth-wrapper}}