{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/auth/reset-password.js"></script>
{{/section}}

{{#> auth-wrapper title="Reset Password" subtitle="Please create a new password for your account associated with
<strong>{{email}}</strong>."}}
<form method="post" action="/account/reset-password" id="formResetPass">
  <!-- Hidden Email Field (Quan trọng để biết đổi pass cho ai) -->
  <input type="hidden" name="email" value="{{email}}">

  <!-- New Password -->
  <div class="mb-3">
    <label for="new_password" class="form-label text-uppercase small">New Password</label>
    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter new password"
      autofocus>
  </div>

  <!-- Confirm Password -->
  <div class="mb-4">
    <label for="confirm_new_password" class="form-label text-uppercase small">Confirm Password</label>
    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password"
      placeholder="Re-enter new password">
  </div>

  <!-- Submit Button -->
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-dark text-uppercase py-2">
      Update Password
    </button>
  </div>
</form>
{{/auth-wrapper}}