/* ============================================
   SELLER DASHBOARD STYLES
   ============================================ */

@import url('../shared/variables.css');
@import url('../shared/sidebar-shared.css');
@import url('../components/stats-card.css');
@import url('../components/image-preview.css');
@import url('../components/tables.css');
@import url('../components/product-card.css');
@import url('../vendors/quill-custom.css');
@import url('../vendors/uppy-custom.css');
@import url('dashboard.css');
