:root {
  --primary-color: #72AEC8;
  --primary-hover: #5a95b0;
  --primary-rgb: 114, 174, 200;
  --admin-color: #dc3545;
  --admin-hover: #c82333;
  --success-color: #198754;
  --danger-color: #dc3545;
  --body-font: "Lato", sans-serif;
  --heading-font: "Jost", sans-serif;
}
